body {
    color: black;
    background-color: rgb(224, 237, 250);
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    
}
    
ol {

    text-align: left;
    display: inline-block;
}

ul{

    text-align: left;
    display: inline-block;
}
image 
{
    align-content: center; 
}
.card-white {
    background-color: rgb(255 255 252);
    padding: 10px 40px 30px 25px;
    width: 650px;
    text-align: justify;
    margin: 16px auto 16px auto;
    border-radius: 30px;
    box-shadow: 1px 2px 12px 0px rgb(205 213 216);
}
.card-white1 {
    background-color: rgb(255 255 252);
    padding: 10px 40px 30px 25px;
    width: 650px;
    text-align: center;
    margin: 16px auto 16px auto;
    border-radius: 30px;
    box-shadow: 1px 2px 12px 0px rgb(205 213 216);
}
.card-white2 {
    background-color: rgb(255 255 252);
    padding: 30px 40px 20px 25px;
    width: 650px;
    height: 45px;
    text-align: center;
    margin: 16px auto 16px auto;
    border-radius: 30px;
    box-shadow: 1px 2px 12px 0px rgb(205 213 216);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: baseline;

}
h1 {
    text-align: center; 
}
h2 {
    text-align: center; 
}
.img-round {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
    box-shadow: 2px 3px 9px 0px rgb(27 67 82);
    float: right;
    margin: 3px 0 10px 16px;
}
.btn {
    padding: 12px 16px;
    border-radius: 4px;
}
.btn-green {
    background-color: rgb(6, 75, 16);
    color: rgb(240, 240, 240);
}
.btn:hover {
        text-decoration: underline;
    }
.btn-green:hover {
            background-color: rgb(7, 131, 59);
            box-shadow: 0px 2px 8px rgb(60, 70, 5);
        }
a {
        text-decoration: none;
    }

    .list-center {
        margin: 0 auto;
        width: 240px;
        text-align: justify;
        div {
            display: block;
        }

 a:-webkit-any-link {
            color: -webkit-link;
            cursor: pointer;
            text-decoration: underline;
        }