body {
    color: black;
    background-color: rgb(250, 231, 202);
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    te
}
    
ol {

    text-align: left;
    display: inline-block;
}

ul{

    text-align: left;
    display: inline-block;
}
image 
{
    align-content: center; 
}